<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} user details {% endblock head_title %}</title>
    {% include 'base/css.html' %}
</head>
<body>
    {% include 'nav/navbar.html' %}
    {% include 'base/messages.html' with messages=messages %}

    <!-- <p>{{request.user.username}}</p> -->

    {% block content %}
    {% if sub_data.is_active_status %}
        <h1>Are you sure you want to cancel</h1>
        <form action="" method="POST">{% csrf_token %}
            <button type="submit">cancel</button>
        </form>


        {% else %}

        <h1>you have no active plan</h1>

        {% endif %}



    {% endblock content %}

    {% include 'base/js.html' %}
</body>
</html>